
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var overid=1,over=1,i,playerid=1,markup,tableBody,playersrun=0,ballno=0,currentplayer=0;
  var players=['MS DHONI', 'Suresh Raina', 'Ravi Jadeja','Dwayne Bravo','Sam Curran','Mitchell Santner','Shardul Thakur','Deepak Chahar','Lungi Ngidi','Imran Tahir','Ruturaj Gaikwad'];
  let socket = new WebSocket("ws://192.168.1.60:9090/lib/cricketServerEndpoint");
  socket.onmessage=function processMessage(bowlingscore){
    document.getElementById("ball1"),innerHTML=bowlingscore;
  }
</script>
</head>
<body>
    <center><h1>SCORE BOARD</h1></center>
    <div>
    <div class="card rundetailsbox">
    <h4>RUNS:{{this.run}}/{{this.out}}</h4>
    <h4>4's Count:{{this.fourcount}}</h4>
    <h4>6's Count:{{this.sixcount}}</h4> 
    </div>
  <div class="card player">
  <h6 style="margin-top:10px">PLAYER1:<p>{{this.player1}}</p></h6>
  <h6 style="margin-top:20px;">PLAYER2:<p>{{this.player2}}</p></h6>
  </div>
  <center><h4 id="winstatus">CSK Needs {{this.runs}} runs in {{this.totalballs}} balls to win.</h4></center>
     <select name="score" class="custom-select" id="score" style="width:20%;margin-left:20px">
    <option value="" disabled selected hidden>CHOOSE SCORE</option>   
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="6">6</option>
    <option value="out">out</option>
  </select>
  <input type="button" class="btn btn-dark" value="bowl" id="bowl"  onclick={{action "add"}}/>
    </div>
 
  <div style="float: left;width:50%">
    <h6 style="margin-top:100px" ><center>SCORE TABLE</center></h6>
    <table class="table" style="margin-left:50px;margin-top:50px;table-layout:fixed">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="6">SCORES</th>
      <th scope="col">OVERS</th>
      <th scope="col">RUNS</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <td><p id="ball1"></p></td>
      <td><p id="ball2"></p></td>
      <td><p id="ball3"></p></td>
      <td><p id="ball4"></p></td>
      <td><p id="ball5"></p></td>
      <td><p id="ball6"></p></td>
      <td>1</td>
      <td><p id="run1"></p></td>
    </tr>
  </tbody>
</table>
</div>
<div2 style="float:right;width:40%">
  <h6 style="margin-top: 50px;"><center>PLAYER'S TABLE</center></h6>
<table class="table" style="margin-right:200px;height:30%;margin-top:50px;table-layout:fixed">
   <thead class="thead-dark">
  <th scope="col">PLAYER'S NAME</th>
  <th scope="col">RUNS</th>
  <th scope="col">OUT</th>
  </thead>
  <tbody>
    <tr><td style="height:65px;">MS DHONI</td><td><p id="MS DHONI"></p></td><td ><p id="MS DHONIout"></p></td></tr>
    <tr><td style="height:65px;">Suresh Raina</td><td><p id="Suresh Raina"></p></td><td ><p id="Suresh Rainaout"></p></td></tr>
    <tr><td style="height:65px;">Ravi Jadeja</td><td><p id="Ravi Jadeja"></p></td><td ><p id="Ravi Jadejaout"></p></td></tr>
    <tr><td style="height:65px;">Dwayne Bravo</td><td><p id="Dwayne Bravo"></p></td><td ><p id="Dwayne Bravoout"></p></td></tr>
    <tr><td style="height:65px;">Sam Curran</td><td><p id="Sam Curran"></p></td><td ><p id="Sam Curranout"></p></td></tr>
    <tr><td style="height:65px;">Mitchell Santner</td><td><p id="Mitchell Santner"></p></td><td ><p id="Mitchell Santnerout"></p></td></tr>
    <tr><td style="height:65px;">Shardul Thakur</td><td><p id="Shardul Thakur"></p></td><td ><p id="Shardul Thakurout"></p></td></tr>
    <tr><td style="height:65px;">Deepak Chahar</td><td><p id="Deepak Chahar"></p></td><td ><p id="Deepak Chaharout"></p></td></tr>
    <tr><td style="height:65px;">Lungi Ngidi</td><td><p id="Lungi Ngidi"></p></td><td ><p id="Lungi Ngidiout"></p></td></tr>
    <tr><td style="height:65px;">Imran Tahir</td><td><p id="Imran Tahir"></p></td><td ><p id="Imran Tahirout"></p></td></tr>
    <tr><td style="height:65px;">Ruturaj Gaikwad</td><td><p id="Ruturaj Gaikwad"></p></td><td ><p id="Ruturaj Gaikwadout"></p></td></tr>
  </tbody>
</table>
</div2>
<footer class="footer"><marquee direction="right">{{this.comments}}</marquee></footer>
</body>

