<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var overid=1,over=1,i,playerid=1,outid=1,markup,tableBody;
  var players=['MS DHONI', 'Suresh Raina', 'Ravi Jadeja','Dwayne Bravo',' Sam Curran','Mitchell Santner','Shardul Thakur','Deepak Chahar','Lungi Ngidi','Imran Tahir','Ruturaj Gaikwad'];
</script>
</head>
<body>
    <center><h1 style="color:white;background-color: black">SCORE BOARD</h1></center>
    <div>
    <h4>RUNS:{{this.run}}/{{this.out}}</h4>
    <h4>4's Count:{{this.fourcount}}</h4>
    <h4>6's Count:{{this.sixcount}}</h4> 
    </div>
  <input type="text" class="form-control" style="margin:10px;width:95%" placeholder="ENTER SCORE" value = {{score}} id="score"  onblur={{action "add" value = "target.value"}} />
  <div style="float: left;width:50%">
    <h6><center>SCORE TABLE</center></h6>
    <table class="table" style="margin-left:50px;margin-top:50px">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="6">SCORES</th>
      <th scope="col">OVERS</th>
      <th scope="col">RUNS</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <td><p id="ball1"></p></td>
      <td><p id="ball2"></p></td>
      <td><p id="ball3"></p></td>
      <td><p id="ball4"></p></td>
      <td><p id="ball5"></p></td>
      <td><p id="ball6"></p></td>
      <td>1</td>
      <td><p id="run1"></p></td>
    </tr>
  </tbody>
</table>
</div>
<div2 style="float:right;">
  <h6><center>PLAYER'S TABLE</center></h6>
<table class="table" style="margin-right:200px;height:30%;margin-top:50px">
   <thead class="thead-dark">
  <th scope="col">PLAYER'S NAME</th>
  <th scope="col">RUNS</th>
  <th scope="col">OUT</th>
  </thead>
  <tbody>
    <tr><td>MS DHONI</td><td><p id="player1"></p></td><td ><p id="out1"></p></td></tr>
    <tr><td>Suresh Raina</td><td><p id="player2"></p></td><td ><p id="out2"></p></td></tr>
    <tr><td>Ravi Jadeja</td><td><p id="player3"></p></td><td ><p id="out3"></p></td></tr>
    <tr><td>Dwayne Bravo</td><td><p id="player4"></p></td><td ><p id="out4"></p></td></tr>
    <tr><td>Sam Curran</td><td><p id="player5"></p></td><td ><p id="out5"></p></td></tr>
    <tr><td>Mitchell Santner</td><td><p id="player6"></p></td><td ><p id="out6"></p></td></tr>
    <tr><td>Shardul Thakur</td><td><p id="player7"></p></td><td ><p id="out7"></p></td></tr>
    <tr><td>Deepak Chahar</td><td><p id="player8"></p></td><td ><p id="out8"></p></td></tr>
    <tr><td>Lungi Ngidi</td><td><p id="player9"></p></td><td ><p id="out9"></p></td></tr>
    <tr><td>Imran Tahir</td><td><p id="player10"></p></td><td ><p id="out10"></p></td></tr>
    <tr><td>Ruturaj Gaikwad</td><td><p id="player11"></p></td><td ><p id="out11"></p></td></tr>
  </tbody>
</table>
</div2>
<footer class="footer"><marquee direction="right">CSK Needs {{this.runs}} runs in {{this.totalballs}} balls to win.</marquee></footer>
</body>
      