<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var overid=1,over=1,i,run=0,runid=101,play=201,index=0;
  var players=['MS DHONI', 'Suresh Raina', 'Ravi Jadeja','Dwayne Bravo',' Sam Curran','Mitchell Santner','Shardul Thakur','Deepak Chahar','Lungi Ngidi','Imran Tahir','Ruturaj Gaikwad'];
   function myFunction()
   {
         var s=document.getElementById("score").value;
         document.getElementById(overid).innerHTML=s;
         document.getElementById(play).style.color = "black";
         document.getElementById(play).innerHTML=players[index];
          if(s=='out')
          {
            s=0;
            document.getElementById(play).style.color = "red";
            index++;
          }
         run=parseInt(run)+parseInt(s);
         document.getElementById(runid).innerHTML=run;
         if(overid%6==0)
         {
            runid=runid+1;
            i=overid+1;
            play+=1;
            over++;
            markup = '<tr><th><p id="'+play+'"></p></th>'+
                     '<td><p id="'+(i++)+'"></p></td>'+
                     '<td><p id="'+(i++)+'"></p></td>'+
                     '<td><p id="'+(i++)+'"></p></td>'+
                     '<td><p id="'+(i++)+'"></p></td>'+
                     '<td><p id="'+(i++)+'"></p></td>'+
                     '<td><p id="'+(i++)+'"></p></td>'+
                     '<td>'+over+'</td>'+
                     '<td><p id="'+runid+'"></p></td></tr>';
                tableBody = $("table tbody");
                tableBody.append(markup);
         }
         overid=overid+1;
         
   }
</script>
</head>
<body>
  <div>
    <center><h1 style="color:white;background-color: black">SCORE BOARD</h1></center>
    <div >
    <h4>RUNS:{{this.run}}/{{this.out}}</h4>
    <h4>4's Count:{{this.fourcount}}</h4>
    <h4>6's Count:{{this.sixcount}}</h4> 
    </div>
    <input type="text" class="form-control" style="margin:10px;width:95%" placeholder="ENTER SCORE" value = {{score}} id="score"  onblur={{action "add" value = "target.value"}} onfocusout="myFunction()"/>
   <table class="table" style="margin-top:60px;width:75%;margin-left:150px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">PLAYER'S NAME</th>
      <th scope="col" colspan="6">SCORES</th>
      <th scope="col">OVERS</th>
      <th scope="col">RUNS</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <th scope="row"><p id="201"></p></th>
      <td><p id="1"></p></td>
      <td><p id="2"></p></td>
      <td><p id="3"></p></td>
      <td><p id="4"></p></td>
      <td><p id="5"></p></td>
      <td><p id="6"></p></td>
      <td>1</td>
      <td><p id="101"></p></td>
    </tr>
  </tbody>
</table>
</div>
<footer class="footer"><marquee direction="right">CSK Needs {{this.runs}} runs in {{this.totalballs}} balls to win.</marquee></footer>
</body>
      